html {
  box-sizing:
}

body {
  background-image: black;
  /*background: url(../images/background.jpg) no-repeat;*/
  background: url(../images/background.jpg) no-repeat 0 0;
  /*background-size: cover;*/
  background-attachment: scroll;
  background-size: 100% 1024px;
  font-family: 'Open Sans', sans-serif;
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

/* GENERAL */

.container {

  margin: auto;
  max-width: 1024px;
}

hr {
  /*margin: 0;*/
  margin: auto;
  width: 100%;
  border-color: white;
}
/* END GENERAL */

/* HEADER */

.header {
  border: 1px solid green;
}

nav {
  margin: auto;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li.active a{
  color: white;
}

.navigation li {
  display: inline-block;
  padding: 100px 35px;
  text-transform: uppercase;
}

.navigation a {
  color: #9c9c9c;
}

.navigation a:hover {
  color: white;
}

.title
{
  text-align: center;
  text-transform: uppercase;
}

.title h1 {
  font-size: 3em;
  font-family: 'Open Sans';
  font-weight: lighter;
  color: #fff;
}

.title h2 {
  font-size: 1.2em;
  font-family: 'Open Sans';
  font-weight: lighter;
  color: #9c9c9c;
}

/* END HEADER */

/* CONTENT */
.content {
  border: 1px solid green;
  height: 700px;
}
/* END CONTENT */

/* FOOTER */

footer {
  /*border: 1px solid green;*/
  text-align: center;
  width: 800px;
  margin: auto;
}

footer h2 {
  text-transform: uppercase;
  font-size: 1em;
}

footer h3 {
  font-size: 0.8em;
  margin-bottom: 0;
}

footer time {
  text-transform: uppercase;
  color: #9c9c9c;
}

.about, .line, .post {
  /*border: 1px solid green;*/
  display: inline-block;
  width: 30%;
  color: white;
  text-align: left;
  vertical-align: top;
  margin: 0;
  margin-bottom: 20px;
  padding-right: 20px;
  height: 300px;
}

.about p {
  font-size: 0.8em;
}
.line {
  background: url(../images/album-03-300x300.jpg) no-repeat left bottom;
  background-size: 240px 240px;
}

article {
  margin-bottom: 20px;
}

.social-network {
  height: 50px;
}

.social-network li {
  padding: 15;
  display: inline-block;
}

.fa {
  color: white;
}

.copyright {
  color: white;
  text-transform: uppercase;
}
/* END FOOTER */
